# Copyright (c) 2017-2018, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

import /init.recovery.qcom_decrypt.rc

on early-init
    start set_permissive

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on property:init.svc.fastbootd=running
    # Load prebuild kernel modules in fastboot mode
    insmod /vendor/lib/modules/qca_cld3_wlan.ko
    insmod /vendor/lib/modules/cirrus_wm_adsp.ko
    insmod /vendor/lib/modules/cirrus_cs35l41.ko
    insmod /vendor/lib/modules/somc_battchg_ext.ko
    insmod /vendor/lib/modules/et603-int.ko
    insmod /vendor/lib/modules/cirrus_cs40l2x.ko
    insmod /vendor/lib/modules/cirrus_cs40l2x_codec.ko
    insmod /vendor/lib/modules/last_logs.ko
    insmod /vendor/lib/modules/powerkey_forcecrash.ko
    insmod /vendor/lib/modules/rdtags.ko
    insmod /vendor/lib/modules/sec_touchscreen.ko
    insmod /vendor/lib/modules/bu520x1nvx.ko
    insmod /vendor/lib/modules/nxp_sn1x0_i2c.ko
    insmod /vendor/lib/modules/nxp_sn1x0_spi.ko
    insmod /vendor/lib/modules/qca_cld3_wlan.ko
    insmod /vendor/lib/modules/q6_notifier_dlkm.ko
    insmod /vendor/lib/modules/spf_core_dlkm.ko
    insmod /vendor/lib/modules/audpkt_ion_dlkm.ko
    insmod /vendor/lib/modules/gpr_dlkm.ko
    insmod /vendor/lib/modules/audio_pkt_dlkm.ko
    insmod /vendor/lib/modules/q6_dlkm.ko
    insmod /vendor/lib/modules/adsp_loader_dlkm.ko
    insmod /vendor/lib/modules/audio_prm_dlkm.ko
    insmod /vendor/lib/modules/q6_pdr_dlkm.ko
    insmod /vendor/lib/modules/pinctrl_lpi_dlkm.ko
    insmod /vendor/lib/modules/swr_dlkm.ko
    insmod /vendor/lib/modules/swr_ctrl_dlkm.ko
    insmod /vendor/lib/modules/snd_event_dlkm.ko
    insmod /vendor/lib/modules/wcd_core_dlkm.ko
    insmod /vendor/lib/modules/mbhc_dlkm.ko
    insmod /vendor/lib/modules/swr_dmic_dlkm.ko
    insmod /vendor/lib/modules/wcd9xxx_dlkm.ko
    insmod /vendor/lib/modules/swr_haptics_dlkm.ko
    insmod /vendor/lib/modules/stub_dlkm.ko
    insmod /vendor/lib/modules/machine_dlkm.ko
    insmod /vendor/lib/modules/lpass_cdc_wsa2_macro_dlkm.ko
    insmod /vendor/lib/modules/lpass_cdc_wsa_macro_dlkm.ko
    insmod /vendor/lib/modules/lpass_cdc_va_macro_dlkm.ko
    insmod /vendor/lib/modules/lpass_cdc_rx_macro_dlkm.ko
    insmod /vendor/lib/modules/lpass_cdc_tx_macro_dlkm.ko
    insmod /vendor/lib/modules/lpass_cdc_dlkm.ko
    insmod /vendor/lib/modules/wsa883x_dlkm.ko
    insmod /vendor/lib/modules/wcd938x_dlkm.ko
    insmod /vendor/lib/modules/wcd938x_slave_dlkm.ko
    insmod /vendor/lib/modules/wcd937x_dlkm.ko
    insmod /vendor/lib/modules/wcd937x_slave_dlkm.ko
    insmod /vendor/lib/modules/hdmi_dlkm.ko
    insmod /vendor/lib/modules/camera.ko
    insmod /vendor/lib/modules/msm-cvp.ko
    insmod /vendor/lib/modules/gsim.ko
    insmod /vendor/lib/modules/ipam.ko
    insmod /vendor/lib/modules/ipanetm.ko
    insmod /vendor/lib/modules/rndisipam.ko
    insmod /vendor/lib/modules/ipa_clientsm.ko
    insmod /vendor/lib/modules/rmnet_core.ko
    insmod /vendor/lib/modules/rmnet_ctl.ko
    insmod /vendor/lib/modules/rmnet_offload.ko
    insmod /vendor/lib/modules/rmnet_perf_tether.ko
    insmod /vendor/lib/modules/rmnet_perf.ko
    insmod /vendor/lib/modules/rmnet_shs.ko
    insmod /vendor/lib/modules/rmnet_wlan.ko
    insmod /vendor/lib/modules/rmnet_aps.ko
    insmod /vendor/lib/modules/rmnet_sch.ko
    insmod /vendor/lib/modules/msm_drm.ko
    insmod /vendor/lib/modules/msm-eva.ko
    insmod /vendor/lib/modules/msm-mmrm.ko
    insmod /vendor/lib/modules/mmrm_test_module.ko
    insmod /vendor/lib/modules/msm_video.ko
    insmod /vendor/lib/modules/cirrus_wm_adsp.ko
    insmod /vendor/lib/modules/cirrus_cs35l41.ko
    insmod /vendor/lib/modules/somc_battchg_ext.ko
    insmod /vendor/lib/modules/et603-int.ko
    insmod /vendor/lib/modules/cirrus_cs40l2x.ko
    insmod /vendor/lib/modules/cirrus_cs40l2x_codec.ko
    insmod /vendor/lib/modules/last_logs.ko
    insmod /vendor/lib/modules/powerkey_forcecrash.ko
    insmod /vendor/lib/modules/rdtags.ko
    insmod /vendor/lib/modules/sec_touchscreen.ko
    insmod /vendor/lib/modules/bu520x1nvx.ko
    insmod /vendor/lib/modules/nxp_sn1x0_i2c.ko
    insmod /vendor/lib/modules/nxp_sn1x0_spi.ko
    insmod /vendor/lib/modules/slg51000-regulator.ko
    insmod /vendor/lib/modules/sony_camera.ko
    insmod /vendor/lib/modules/tcs3490.ko
    insmod /vendor/lib/modules/camera_sync.ko
    setprop twrp.modules.loaded true

on post-fs && property:init.svc.fastbootd=stopped
    # Trigger loading kernel modules in normal mode
    setprop twrp.modules.loaded true

on property:twrp.modules.loaded=true
    # Load kernel modules and ADSP firmware for PMIC
    wait /sys/kernel/boot_adsp/boot
    start runatboot
    wait /sys/class/power_supply/battery

on post-fs
    start boot-hal-1-2

on boot
    start health-hal-2-1

service set_permissive /system/bin/set_permissive.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service runatboot /system/bin/runatboot.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0
